body{
  color: #333333;
  font-size: 2em;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  margin:0;
  padding:0;
  font-size: 100%;
  font-weight: normal;
}
a {
  color: #333333;
  text-decoration: none;
}

#content {
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 30em;
}
div.head-box{
  display: flex;
  width: 100%;
}

div.title-box {
  padding: 0.5em;
  margin: 0.5em 0.5em;
}

div.title-box h1 {
  padding: 0;
  font-size: 175%;
}

div.emblem-box {
  width: 7em;
  margin: 0;
}
div.emblem-box img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

div.nav-box ul {
  display: table;
  list-style-type: none;
  padding: 0;
}

div.nav-box ul li {
  float: left;
  padding: 0;
}
div.nav-box ul li:after {
  content: "\00b7";
  padding: 0 0.5em;
}
div.nav-box ul li:last-child:after { content: none; }

div.nav-box .email {
  font-size: 120%;
}

div.main-box {
display: flex;
flex-direction: row;
}
div.main-box div.block {
  width: 10em;
  margin: 0.5em auto;
  text-align: center;
}
div.main-box div.block img{
  width: 100%;
  margin: 0.2em 0;
}



@media only screen and (max-width: 1200px) {
  body{
    font-size: 3em;
  }
  div.emblem-box {
    width: 20%;
    margin: 0 auto;
  }
  div.title-box {
    width: 80%;
    margin-left: 0;
    margin-top: 5%;
    padding: 0.2em;
    text-align: center;
  }
  div.title-box h1 {
    padding: 0;
    margin: 0;
    font-size: 150%;
  }
  div.nav-box ul {
    margin: 0.5em auto;
  }
  div.nav-box ul li {
    font-size: 90%;
  }
  div.main-box {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
  }
  div.main-box div.block {
    width: 90%;
    margin: 0.5em auto;
    font-size: 125%;
    text-align: left;
  }
}
